
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/pecita');

                

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #4B8F6B;
}

/* Banner */
.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
}
.hero-overlay {
  position: absolute;
  bottom: 0; left: 0;
  width: 100%; height: 250px;
  background: linear-gradient(
    to bottom,
    rgba(75,143,107,0) 0%,
    rgba(75,143,107,0.3) 40%,
    rgba(75,143,107,0.6) 70%,
    rgba(75,143,107,1) 100%
  );
  z-index: 2;
}

.hero-fade {
  height: 100px;
  background: linear-gradient(
    to bottom,
    rgba(75, 143, 107, 0) 0%,
    rgba(75, 143, 107, 0.3) 40%,
    rgba(75, 143, 107, 0.6) 70%,
    rgba(75, 143, 107, 1) 100%
  );
  position: relative;
  z-index: 2;
  margin-top: -100px;
}

.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(
    to bottom,
    rgba(75, 143, 107, 0) 0%,     
    rgba(75, 143, 107, 0.3) 40%,  
    rgba(75, 143, 107, 0.6) 70%,  
    rgba(75, 143, 107, 1) 100%    
  );
  z-index: 1;
}

.menu-turismo {
  background-color: #4B8F6B;
  padding: 120px 40px;
  margin-top: -90px;
  position: relative;
  z-index: 3;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;

  /* Difuminado en la parte superior */
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 30%);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 30%);
  mask-repeat: no-repeat;
  mask-size: cover;
}

#main-header {
  position: absolute; 
  top: 30px; 
  bottom: 640px;         
  left: 30px;
  z-index: 1;
}

.logo-img {
  width: 50px;   
  height: auto;
}


.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('img/fotogrande.jpg');
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  filter: brightness(80%); 
  z-index: 1;
}

.hero-text {
  position: relative;
  z-index: 3; /* encima del filtro y overlay */
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}

.hero-text h1 {
    font-family: 'Montserrat', bold;
    font-size: 7rem;
    margin-bottom: 20px;
}

.hero-text p {
    font-family: 'Pecita', sans-serif;
    font-size:7rem;
    margin-bottom: 20px;
    margin-left: 500px;
}


/* menú */
#main-menu {
  position: absolute;
  bottom:20px;
  right: 30px;
  z-index: 10;
}

#main-menu ul {
  list-style: none;
  display: flex;
  gap: 30px;
  justify-content: flex-end;
}

#main-menu ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  transition: color 0.3s ease;
}

#main-menu ul li a:hover {
  color: #F2C94C; 
}


/* mwnu turismo */
.menu-turismo {
  background-color: #4B8F6B; 
  padding: 40px 20px;
  text-align: center;
  color: white;
  bottom: -100px;
}

.menu-titulo {
  text-align: center;
  font-family: 'Pecita', sans-serif; 
  font-size: 64px;
  color: white;

  /* mueve el texto hacia abajo */
  margin-top: 60px;   /* prueba aumentando este valor */
}

.menu-turismo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: -50px;
  justify-items: center;
  padding-top: 190px;
}
.menu-fila {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.menu-item {
  display: flex;
  justify-content: center;
}



.menu-turismo h2{
    font-family: 'Pecita', cursive;
  font-size: 5rem;
  margin-bottom: 90px;

}

.menu-item p {
  font-size: 1rem;
  font-weight: bold;
  color: #4f6a52;
}



.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.icon-box {
  width: 130px;
  height: 130px;
  background-color: white;
  color: #4f6a52;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
}

.icon-box:hover {
  transform: scale(1.05);
}

.icon-box i {
  font-size: 32px;
}
.icon-box p {
  font-size: 0.9rem;
  font-weight: bold;
  margin: 0;
}
/* .icon-box i {
  color: #4f6a52;
  font-size: 40px;
} */


/* HISTORIA */



.historia-linea-tiempo {
  position: relative;
  max-width: 1200px;
  margin : 80px;
  padding: 40px 0;

}
.historia-seccion {
  margin-top: 100px; 
}


.historia-titulo {
  font-family: 'Pecita', cursive;
  font-size: 4rem;
  text-align: center;
  margin-bottom: 60px;
  color: #4B8F6B;
}
 
/* LINEA DEL MEDIO */
.historia-linea-tiempo::before {
  content: '';
  position: absolute;
  top: 0;               
  bottom: 0;           
  left: 50%;            
  width: 4px;
  background-color: #ffffff;
  transform: translateX(-50%);
  z-index: 0;
}

/* bloques */
.historia-item {
  position: relative;
  width: 50%;
  padding: 20px 40px;
  box-sizing: border-box;
  margin-bottom: 90px;
}

/* lado izq */
.historia-item.izquierda {
  left: 0;
  text-align: right;
}

/* lado derecha */

.historia-item.derecha {
  left: 50%;
  text-align: left;
}

/* contenido */
.historia-contenido {
  background-color: white;
  color: #4B8F6B;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

/* imágenes */
.historia-item img {
  width: 100%;
  max-width: 700px;
  border-radius: 12px;
  margin-bottom: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

/* animaciones */
.oculto {
  opacity: 0;
  transform: translateY(60px) scale(0.95);
  filter: blur(6px);
  transition: opacity 1.5s ease, transform 1.5s ease, filter 1.5s ease;
}


.visible {
 opacity: 1;
  transform: translateY(0) scale(1);
  filter: blur(0);
}

.historia-item.derecha {
  left: 50%;   /* coloca el bloque en el lado derecho de la línea central */
  text-align: left;
}
.historia-item.izquierda {
  left: 0;     /* coloca el bloque en el lado izquierdo */
  text-align: right;
}


/* * MAPA */ */

#dondenosencontramos {
  background-color: #000000;
  width: 100%;
  min-height: 800px;
  margin: 0 auto;
  padding: 80px  20px;
  text-align: center;
}

#dondenosencontramos h2 {
  margin-bottom: 90px;
  font-size:3rem;
  color: rgb(255, 255, 255);
  font-family: pecita, cursive;
  text-align: center;
}

.ubicacion-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  padding: 40px;
}

.map-container {
  flex: 2;
}

.info-container {
  flex: 1;
}

.map-container iframe {
  width: 100%;
  height: 450px;
}

/* Info al lado */
.info-container h3{
 font-size: 2rem;
  color:#FF2DA3;
  text-shadow:0 0 10px #FF2DA3 ;
  margin-bottom: 50px;
  font-family: 'Montserrat', sans-serif;
}

.info-container p{
 font-size: 1.5rem;
  color:#FF2DA3;
  text-shadow:0 0 10px #FF2DA3 ;
  margin-bottom: 50px;
  font-family: 'Montserrat', sans-serif;
}

#como-llegar {
  background-color: #ffffff;
  padding: 60px 20px;
  text-align: center;
  color: #ffffff;
}

.transporte-acordeon {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 600px;
  margin: 0 auto;
}

.transporte-item {
  border: 2px solid #ffffff;
  border-radius: 12px;
  overflow: hidden;
  background-color: #0f0f0f;
  box-shadow: 0 0 15px rgba(75, 62, 190, 0.3);
}

.transporte-toggle {
  width: 100%;
  background-color: transparent;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 1rem;
  text-align: left;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.transporte-toggle:hover {
  background-color: #A5F557;
  color: #000;
}

.transporte-info {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  padding: 0 1rem;
  color: #ddd;
}

.transporte-item.active .transporte-info {
  max-height: 200px;
  padding: 1rem;
}
